<!DOCTYPE html>
<html lang="en">
    <head>
        <title>台幣匯率計算機</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container">
            <div class="box">台幣匯率計算機</div>
            <form method="post" action="./calculate" >
                <div>
                    <label for="currency">幣別：</label>
                    <!-- <input type="text" id="currency" name="currency"> -->
                    <!-- <br/> -->
                    <input list="currencyList" id="currency" name="currency">            
                    <datalist id="currencyList">
                        <option value="FKP" />
                        <option value="ITL" />
                        <option value="CNH" />
                        <option value="LAK" />
                        <option value="ZMW" />
                        <option value="AOA" />
                        <option value="TTD" />
                        <option value="NAD" />
                        <option value="USD" />
                        <option value="SVC" />
                        <option value="MXN" />
                        <option value="IRR" />
                        <option value="SHP" />
                        <option value="ISK" />
                        <option value="BBD" />
                        <option value="LTC" />
                        <option value="MXV" />
                        <option value="DJF" />
                        <option value="LVL" />
                        <option value="NGN" />
                        <option value="AWG" />
                        <option value="JEP" />
                        <option value="UZS" />
                        <option value="HUX" />
                        <option value="MVR" />
                        <option value="TZS" />
                        <option value="IEP" />
                        <option value="KYD" />
                        <option value="STN" />
                        <option value="PHP" />
                        <option value="UYU" />
                        <option value="FJD" />
                        <option value="CAD" />
                        <option value="MYR" />
                        <option value="HNL" />
                        <option value="CVE" />
                        <option value="SRD" />
                        <option value="SEK" />
                        <option value="EGP" />
                        <option value="CUP" />
                        <option value="GBP" />
                        <option value="CZK" />
                        <option value="STD" />
                        <option value="IMP" />
                        <option value="XCD" />
                        <option value="LSL" />
                        <option value="WST" />
                        <option value="TJS" />
                        <option value="KES" />
                        <option value="KPW" />
                        <option value="FRF" />
                        <option value="MWK" />
                        <option value="TRY" />
                        <option value="BGN" />
                        <option value="BWP" />
                        <option value="GIP" />
                        <option value="SLL" />
                        <option value="CUC" />
                        <option value="CHF" />
                        <option value="BOB" />
                        <option value="BTC" />
                        <option value="BND" />
                        <option value="XDR" />
                        <option value="PLN" />
                        <option value="VEF" />
                        <option value="SIT" />
                        <option value="BYN" />
                        <option value="LBP" />
                        <option value="BRX" />
                        <option value="LYD" />
                        <option value="GMD" />
                        <option value="XAU" />
                        <option value="YER" />
                        <option value="AFN" />
                        <option value="AED" />
                        <option value="CDF" />
                        <option value="BDT" />
                        <option value="CNY" />
                        <option value="SZL" />
                        <option value="SSP" />
                        <option value="HRK" />
                        <option value="MOP" />
                        <option value="LRD" />
                        <option value="DKK" />
                        <option value="SDG" />
                        <option value="NOK" />
                        <option value="RWF" />
                        <option value="SCR" />
                        <option value="KZT" />
                        <option value="SYP" />
                        <option value="RON" />
                        <option value="AUD" />
                        <option value="MRO" />
                        <option value="AMD" />
                        <option value="MZN" />
                        <option value="ECS" />
                        <option value="PAB" />
                        <option value="SGD" />
                        <option value="KRW" />
                        <option value="XPT" />
                        <option value="LKR" />
                        <option value="DZD" />
                        <option value="RSD" />
                        <option value="CRC" />
                        <option value="TOP" />
                        <option value="CLF" />
                        <option value="ILS" />
                        <option value="GGP" />
                        <option value="PKR" />
                        <option value="ARS" />
                        <option value="KHR" />
                        <option value="SOS" />
                        <option value="GYD" />
                        <option value="ANG" />
                        <option value="BAM" />
                        <option value="LTL" />
                        <option value="KGS" />
                        <option value="PEN" />
                        <option value="SBD" />
                        <option value="NZD" />
                        <option value="GNF" />
                        <option value="MNT" />
                        <option value="VND" />
                        <option value="AZN" />
                        <option value="BTN" />
                        <option value="ALL" />
                        <option value="VUV" />
                        <option value="ZAR" />
                        <option value="NIO" />
                        <option value="XOF" />
                        <option value="DOP" />
                        <option value="XAF" />
                        <option value="JOD" />
                        <option value="XAG" />
                        <option value="MGA" />
                        <option value="IDR" />
                        <option value="CLP" />
                        <option value="GEL" />
                        <option value="UAH" />
                        <option value="HUF" />
                        <option value="THB" />
                        <option value="MDL" />
                        <option value="BYR" />
                        <option value="ETB" />
                        <option value="DEM" />
                        <option value="SAR" />
                        <option value="MRU" />
                        <option value="QAR" />
                        <option value="EUR" />
                        <option value="JMD" />
                        <option value="PYG" />
                        <option value="IQD" />
                        <option value="BMD" />
                        <option value="GTQ" />
                        <option value="XPD" />
                        <option value="KWD" />
                        <option value="PGK" />
                        <option value="MAD" />
                        <option value="ZWL" />
                        <option value="BZD" />
                        <option value="KMF" />
                        <option value="OMR" />
                        <option value="TMT" />
                        <option value="XPF" />
                        <option value="MMK" />
                        <option value="ERN" />
                        <option value="TND" />
                        <option value="BIF" />
                        <option value="BHD" />
                        <option value="TWD" />
                        <option value="HKD" />
                        <option value="COP" />
                        <option value="GHS" />
                        <option value="RUB" />
                        <option value="MKD" />
                        <option value="INR" />
                        <option value="NPR" />
                        <option value="VES" />
                        <option value="UGX" />
                        <option value="JPY" />
                        <option value="BSD" />
                        <option value="BRL" />
                        <option value="MUR" />
                        <option value="HTG" />
                    </datalist>
                    
                    <br/>
                    <label for="price">金額：</label>
                    <input type="text" id="price" name="price">
                    <br/>
                    <label for="discount">折扣：</label>
                    <input type="text" id="discount" name="discount">
                </div>
                <div>
                    <button type="submit">提交</button>
                    <button type="reset">清除資料</button>
                </div>
                <!-- <div style="position:fixed;">
                    <label for="output" style="font-size: 2rem;">台幣結果:</label>
                    <br/>
                    <textarea name="output" id="output" cols="30" rows="10"></textarea>
                </div> -->
            </form>
            <img id="pic" src="./img/ntd.jpg" alt="ntd">
        </div>
    </body>
</html>